doctype html 
html(lang="es")

head   
    title Vista Previa
    link(rel="stylesheet", href="/css/estilos.css")

body
    h1 
        a(href="ejemplo_pug.org") INFORMACION DEL VEHICULO #{nombre}

    div 
        h2 Vista previa 
        img(src=datos.imagen, alt="vehiculo")
        p #{datos.descripcion}