doctype html
html(lang="es")
head
    title Inicio
    link(rel="stylesheet", href="/css/estilos.css")

body 
    
    form()
        h1 PURDY MOTORS
        br
        br
    div(class="imagen")
        img(src="/images/consecionario1.jpg" alt="Consecionario")
        h2    
            a(href="/tienda.html") VER CATALOGO DE VEHICULOS
    nav
        footer
            a(href="/agregar") AGREGAR VEHICULO AL CATALOGO

    